<!DOCTYPE html>
<html lang="en" class="<%= pageClass %>">
  <head>
    <title><%= (typeof pageTitle !== 'undefined') ? pageTitle + ' - ' : '' %>ColdFront, the front-end conference in Copenhagen.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://2017.coldfront.co/" />
    <link rel="shortcut icon" href="/images/favicon.png" sizes="16x16 32x32 64x64 128x128 256x256" />
    <meta name="description" content="ColdFront, the front-end conference in Copenhagen." />
    
    <meta property="og:title" content="<%= (typeof pageTitle !== 'undefined') ? pageTitle + ' - ' : '' %>ColdFront, the front-end conference in Copenhagen." />
    <meta property="og:description" content="ColdFront is the front-end conference in Copenhagen." />
    <meta property="og:url" content="https://2017.coldfront.co/" />
    <meta property="og:site_name" content="ColdFront"/>
    <meta property="og:image" content="https://2017.coldfront.co/images/social_17.png"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@coldfrontconf">
    <meta name="twitter:creator" content="@coldfrontconf">
    <meta name="twitter:title" content="<%= (typeof pageTitle !== 'undefined') ? pageTitle + ' - ' : '' %>ColdFront, the front-end conference in Copenhagen.">
    <meta name="twitter:description" content="ColdFront is the front-end conference in Copenhagen.">
    <meta name="twitter:image:src" content="https://2017.coldfront.co/images/social_17.png">
  </head>

  <body>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/bootstrap.min.css') %>">
    <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/app.css') %>" />

    <%- body %>
    <section class="footer section-dark">
        <div class="inner">
            <img alt="ColdFront logo" src="/images/logo.svg" class="logo"/>
            <p>By attending you accept our <a href="http://confcodeofconduct.com/">Code of Conduct</a></p>
        </div>
    </section>    

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" async defer></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" async defer></script>

  <script src="/bundle.js" async defer></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104072128-1', 'auto');
  ga('send', 'pageview');
  </script>

  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6adh&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6adh&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
  </noscript>

  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '875681269219535']);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=875681269219535&amp;ev=PixelInitialized" /></noscript>

  <!-- Facebook Conversion Code for ColdFront checkouts -->
  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6026908234266', {'value':'0.00','currency':'DKK'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026908234266&amp;cd[value]=0.00&amp;cd[currency]=DKK&amp;noscript=1" /></noscript>

</html>
