<!DOCTYPE html>
<html lang="en" class="<%= pageClass %>">
  <head>
    <title><%= (typeof pageTitle !== 'undefined') ? pageTitle + ' - ' : '' %>ColdFront 2017, the front-end conference, September 5+6th 2017 in Copenhagen.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://2017.coldfront.co/" />
    <link rel="shortcut icon" href="/images/favicon.png" sizes="16x16 32x32 64x64 128x128 256x256" />
    <meta name="description" content="ColdFront 2017, ColdFront conference, the front-end conference, September 5+6th 2017 in Copenhagen." />
    
    <meta property="og:title" content="<%= (typeof pageTitle !== 'undefined') ? pageTitle + ' - ' : '' %>ColdFront, the front-end conference in Copenhagen." />
    <meta property="og:description" content="ColdFront is the front-end conference in Copenhagen." />
    <meta property="og:url" content="https://2017.coldfront.co/" />
    <meta property="og:site_name" content="ColdFront"/>
    <meta property="og:image" content="https://2017.coldfront.co/images/social_17.png"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@coldfrontconf">
    <meta name="twitter:creator" content="@coldfrontconf">
    <meta name="twitter:title" content="<%= (typeof pageTitle !== 'undefined') ? pageTitle + ' - ' : '' %>ColdFront, the front-end conference in Copenhagen.">
    <meta name="twitter:description" content="ColdFront is the front-end conference in Copenhagen.">
    <meta name="twitter:image:src" content="https://2017.coldfront.co/images/social_17.png">
  </head>

  <body>

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/bootstrap.min.css') %>">
    <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/app.css') %>" />

    <header class="hidden-xs hidden-sm">
        <div class="navbar pull-left">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/program">Program</a></li>
                <li><a href="/speakers">Speakers</a></li>
                <li><a href="https://ti.to/coldfront/coldfront-2017">Tickets</a></li>
                <li><a href="/diversity-scholarships">Diversity</a></li>
            </ul>
        </div>
        <div class="navbar nav-right pull-right">
            <ul class="nav">
                <li><a href="/about">About</a></li>
                <li><a href="mailto:hello@coldfront.co" target="_blank">Contact</a></li>
            </ul>
        </div>        
    </header>
    <%- body %>
    <section class="footer section-dark">
        <div class="inner">
            <img alt="ColdFront logo" src="/images/logo.svg" class="logo"/>
            <p>By attending you accept our <a href="http://confcodeofconduct.com/">Code of Conduct</a></p>
        </div>
    </section>    

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" async defer></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" async defer></script>

  <script src="/bundle.js" async defer></script>

  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6adh&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6adh&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
  </noscript>

  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '875681269219535']);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=875681269219535&amp;ev=PixelInitialized" /></noscript>

  <!-- Facebook Conversion Code for ColdFront checkouts -->
  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6026908234266', {'value':'0.00','currency':'DKK'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026908234266&amp;cd[value]=0.00&amp;cd[currency]=DKK&amp;noscript=1" /></noscript>

  <script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
  analytics.load("s4pfXY77zZ6NiVhdXitn9yPCrSKC312T");
  analytics.page();
  }}();
</script>
</html>
