<div class="page" data-aos-delay="200">

    <div class="social hidden-xs hidden-sm">
        <a class="btn btn-social btn-shape1" href="https://www.facebook.com/coldfrontconf/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a class="btn btn-social btn-shape2" href="https://twitter.com/coldfrontconf    "><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a class="btn btn-social btn-shape3" href="https://www.linkedin.com/company-beta/18009840/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </div>

    <section class="splash" data-aos="fade-up">
        <div class="wrapper">
            <div class="inner">
                <div class="text">
                    <img alt="ColdFront logo" src="/images/logo.svg" class="logo" />
                    <h2>Sep 5-6, 2017</h2>

                    <p>Get inspired for tomorrow's front-end challenges and get a peak of what the future brings for mobile
                        and front-end development</p>

                    <a class="btn btn-primary" href="https://ti.to/coldfront/coldfront-2017">Go to ticket sale!</a>
                </div>

            </div>
        </div>
    </section>

    <section class="about" data-aos="fade-up">
        <a name="about"></a>
        <div class="inner">
            <h2>Two-days + week long festival</h2>
            <p>ColdFront is the front-end conference in Copenhagen. A two day and single track conference with 12 talks by internationally
                renowned speakers, 2 panel debates, amazing food and networking with industry leaders.</p>
            <p>Our focus is on the web, and where front-end world is headed. So sit tight, and get ready to be inspired.</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/u7CV0vFO2sg" frameborder="0" allowfullscreen></iframe>

            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>
                (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[3] = 'MMERGE3'; ftypes[3] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);
            </script>
            <!--End mc_embed_signup-->

        </div>
    </section>

    <section class="speakers section-wide" data-aos="fade-up">
        <a name="speakers"></a>
        <div class="inner">
            <div class="content">
                <h2>The speakers</h2>
                <ul>
                    <% speakers.filter(s => s.keynote !== true).forEach(function(speaker) { %>               
                        <li>
                            <a href="/speakers/<%= speaker.slug%>">
                                <img src="/images/speakers/<%= speaker.slug %>.png">
                                <h3><%- speaker.name %></h3>
                                <p><%- speaker.intro %></p>
                            </a>
                        </li>   
                    <% }) %>
                </ul>
                <h2>The keynotes</h2>
                <ul class="keynotes">
                    <% speakers.filter(s => s.keynote === true).forEach(function(speaker) { %>               
                        <li>
                            <a href="/speakers/<%= speaker.slug%>">
                                <img src="/images/speakers/<%= speaker.slug %>.png">
                                <h3><%- speaker.name %></h3>
                                <p><%- speaker.intro %></p>
                            </a>
                        </li>   
                    <% }) %>
                </ul>
            </div>
        </div>
    </section>

    <section class="schedule" data-aos="fade-up">
        <a name="program"></a>
        <div class="inner">
            <div class="border-top"></div>
            <div class="content">
                <div class="themes">
                    <h2>The Themes</h2>
                    <ul>
                        <li>Hardware is awesome, and now for the web</li>
                        <li>Next generation layout and rendering</li>
                        <li>The new browser vendors</li>
                        <li>Software is more than just code</li>
                    </ul>
                    <a href="/themes">Read more about this years themes</a>
                </div>

                <h2>The Program</h2>
                <%- include schedule %>
            </div>
            <div class="border-bottom"></div>
        </div>
    </section>

    <section class="food vertical-center-align" data-aos="fade-up">
        <a name="food"></a>
        <div class="overlay"></div>
        <div class="inner ">
            <h2>Delicious food for your brain</h2>
            <p>
                We want you to have an great experience, and we believe food is big part of that. This year we are collaborating with a number
                of truly amazing foodtrucks, serving everything from fish tacos to decilious tapas. You can choose something
                new to eat every at every meal and in case you get craving you can always grab a snack.</p>
            </p>
        </div>
    </section>

    <section class="host" data-aos="fade-up">
        <a name="host"></a>
        <div class="inner">
            <h2>Your host</h2>
            <h3 class="text-highlight">Christian Heilmann</h3>
            <p>This year ColdFront introduces a new concept by having <strong><a href="https://twitter.com/codepo8">Christian Heilmann</a></strong>                as your host for the conference. Christian is an established authority in our industry, works for Microsoft,
                and we are proud to have him guiding you through the conference days, talks and panel debates.</p>
            <img src="/images/speakers/host.png" class="movable" />
        </div>
    </section>

    <section class="venue section-wide" data-aos="fade-up">
        <a name="venue"></a>
        <div class="inner">
            <h2>In the heart of Copenhagen</h2>
            <h3>Copenhagen's historic music venue</h3>
            <div class="grid">
                <div class="text">

                    <h4>VEGA, Enghavevej 40, 1674 Copenhagen</h4>
                    <p>
                        ColdFront will be held in VEGA, one of the leading concert stages in Europe. Showcasing original 50's design gives the building
                        a unique atmosphere, and VEGA's decor with dark wood paneling, mahogany floors, friezes, and the
                        many original details including railings, balustrades and lamps in typical Scandinavian style are
                        the hallmarks of VEGA.
                    </p>
                    <p>
                        <a class="text-bold text-upper text-highlight" target="_blank" href="https://www.google.ca/maps/place/Vega/@55.668023,12.5418672,17z/data=!3m1!4b1!4m5!3m4!1s0x4652539e80687c13:0xf5202e524e3eb86f!8m2!3d55.66802!4d12.5440612?hl=en">Google Map <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </p>
                </div>

                <div class="image">
                    <img src="/images/vega.png" class="movable" />
                </div>
            </div>
        </div>
    </section>

    <section class="techfest section-wide" data-aos="fade-up">
        <a name="techfest"></a>
        <div class="inner">
            <h2>Copenhagen Techfestival</h2>
            <h3 class="text-hightlight">Community, parties and more!</h3>
            <div class="grid">
                <div class="image">
                    <img src="/images/tech-festival.png" class="movable" />
                </div>
                <div class="text">

                    <h4>A part of Copenhagen Techfestival!</h4>
                    <p>With the goal of exporing the next in tech, we have teamed up with Copenhagen Techfestival, who are throwing
                        a serious party. This is something we don’t want to miss, so all ColdFronters gets a wristband for
                        the week-long festival, to attend events and parties.</p>
                    <p>There's more! We are also throwing our own ColdFront party in the middle of the Techfestival.</p>
                    <p>It's gonna be a blast!</p>
                    <p>
                        <a class="text-bold text-upper text-highlight" target="_blank" href="http://techfestival.co">Read more about Copenhagen Techfestival <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="videos section-wide" data-aos="fade-up">
        <a name="videos"></a>
        <div class="inner">
            <h2>Last year was a blast!</h2>
            <h3>Re-watch the videos from last year</h3>
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=QVuRba0NGKg&t=124s">
                        <img class="movable" src="/images/videos/bruce.png">
                        <h4>Bruce Lawson</h4>
                        <h5 class="text-hightlight">WWW - World Wide web</h5>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=1MOR77U9eRs&t=7s">
                        <img class="movable" src="/images/videos/robert.png">
                        <h4>Robert Nymann</h4>
                        <h5 class="text-hightlight">The future of the web platform</h5>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=XR6eM_5pAb0">
                        <img class="movable" src="/images/videos/glenn.png">
                        <h4>Glenn Maddern</h4>
                        <h5 class="text-hightlight">The future of resuable CSS</h5>
                    </a>
                </li>
            </ul>

            <a class="text-bold text-upper text-highlight" target="_blank" href="https://www.youtube.com/channel/UCZHbZVjG2wXaLCuHK3LZ5lw">More videos <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

        </div>
    </section>

    <section class="boss section-dark" data-aos="fade-up">
        <a name="boss"></a>
        <div class="inner">
            <h2>Convince your boss to go</h2>
            <img src="/images/boss.png" />
            <a class="btn btn-primary" href="/downloads/ColdFront 17 - 5 reasons to convince Your Boss.pdf">Download PDF</a>
        </div>
    </section>

    <section class="collaborators section-blue">
        <a name="collaborators"></a>
        <div class="inner">

            <h2>Collaborators</h2>
            <h3>ColdFront is organised in collaboration with</h3>
            <div class="list">
                <a href="https://zendesk.com" target="_blank"><img src="/images/zendesk.svg" class="zendesk" /></a>
                <a href="https://www.jayway.com/" target="_blank"><img src="/images/jayway.svg"/></a>
            </div>

            <h2>Partners</h2>
            <h3>Helping taking ColdFront to new levels!</h3>
            <div class="list partners">
                <a href="http://oredev.org" target="_blank"><img src="/images/collaborators/oredev.png"/></a>
                <a href="http://stickermule.com" target="_blank"><img src="/images/collaborators/stickermule.png"/></a>
                <a href="http://techfestival.co" target="_blank"><img src="/images/collaborators/tech-festival.png"/></a>
                <a href="http://version2.dk" target="_blank"><img src="/images/collaborators/version2.png"/></a>
                <a href="http://google.com" target="_blank"><img src="/images/collaborators/google.png"/></a>
                <a href="http://itb.dk" target="_blank"><img src="/images/collaborators/itb.png"/></a>
                <a href="http://prodata.dk" target="_blank"><img src="/images/collaborators/prodata.png"/></a>
                <a href="http://www.nordicsemi.com/" target="_blank"><img src="/images/collaborators/nordics.png"/></a>
            </div>
            <h3>Commmunity friends</h3>
            <div class="list partners">
                <a href="http://designmatters.dk" target="_blank"><img src="/images/collaborators/designmatters.png"/></a>
                <a href="https://www.offscreenmag.com/" target="_blank"><img src="/images/collaborators/offscreen.png"/></a>
                <a href="https://www.reactiveconf.com" target="_blank"><img src="/images/collaborators/reactiveconf.svg"/></a>
            </div>
        </div>
    </section>

</div>