<div class="page">

    <section class="splash">
        <div class="image"></div>
        <div class="wrapper ">
            <div class="inner">
                <div class="circle movable">
                    <div class="circle_inner">
                        <div class="circle_wrapper">
                            <div class="circle_content">
                                <div class="text">                                    
                                    <img alt="ColdFront logo" src="/images/logo_negative.svg" class="logo fade-in" />
                                    <h3>The front-end conference in Copenhagen on <strong class="date">September 1st 2016</strong></h3>

                                    <a class="register" target="" href="https://ti.to/coldfrontconf/coldfront-2016">
                                        <strong>Grab your tickets!</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="white align-left about">
        <a name="about"></a>
        <div class="inner">
            <h2>What is ColdFront?</h2>
            <p>ColdFront is the front-end conference in Copenhagen. A single day and track conference with 8 talks by internationally renowned speakers. Our focus is on the web, and where our beloved platform is headed. So sit tight, and get ready to be inspired.</p>
            <iframe width="100%" height="510" src="https://www.youtube.com/embed/Fh_0_tQgFZk" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>

    <section class="light align-left speakers">
        <a name="venue"></a>
        <div class="inner">
            <h2>Speakers</h2>

            <p>This year ColdFront will be themed around the <strong>change</strong>, and we are planning to host speakers to enlighten us within these areas: CSS, performance, tooling, mobile, the web platform, IoT, JavaScript and emerging markets.

            <ul class="speaker-list">
            <% speakers.forEach(function(item) { %>
                <li class="<%= item.placeholder ? 'state-placeholder' : '' %>">
                    <a href="/speakers#<%= item.slug %>">
                        <div class="image">
                            <img src="/images/speakers/<%= item.avatar %>">
                            <span class="name"><%= item.name %></span>
                        </div>
                    </a>
                </li>
            <% }) %>
            </ul>
        </div>
    </section>

  <section class="schedule">
        <a name="schedule"></a>
        <div class="inner">
            <h2>Schedule</h2>
            <h3>Sit back and get inspired.</h3>

            <ul>

            <% schedule.forEach(function(item) { %>

                <li class="<%- item.speaker === true ? 'state-speaker' : '' %>">

                    <span class="date vertical-center-align"><%- item.time %></span>

                    <div class="image">
                        <img src="/images/<%- item.speaker === true ? 'speakers/' : '' %><%= item.avatar %>">
                    </div>


                    <div class="intro vertical-center-align">
                        <h3><%- item.name %></h3>
                    </div>

                    <% if (item.speaker === true || item.info) { %>
                    <div class="session-info ">

                        <% if (item.speaker === true) { %>
                            <% if (item.url) { %>
                                <a class="web" href="<%= item.url %>" target="_blank"><i class="fa fa-link"></i></a>
                            <% } else { %>
                                <span class="spacer"></span>
                            <% } %>

                            <% if (item.twitter) { %>
                                <a class="twitter" href="https://twitter.com/<%= item.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
                            <% } else { %>
                                <span class="spacer"></span>
                            <% } %>

                            <p><%- item.name %></p>

                            <div class="session">
                                <h4>talks about</h4>
                                <h3><%- item.title %></h3>
                                <%- item.abstract %>
                            </div>
                        <% } %>

                        <p><%- item.info %></p>

                    </div>

                    <% } %>
                </li>
            <% }) %>

            </ul>

        </div>
    </section>

    <section class="white align-left venue">
        <a name="venue"></a>
        <div class="inner">
            <h2>Venue</h2>

            <p>Coldfront will be held in one of the oldest cinemas in Copenhagen, <a href="http://www.grandteatret.dk/om_grand/om_grand_teatret/" target="_blank">The Grand Theater</a>.</p>
            <p>The Grand Theater was build in 1913, and is located in a small sidestreet to the famous shopping street Strøget, in very center of old historic Copenhagen.

            <p class="photo"><img src="/images/grand.jpg" width="100%"/>
        </div>
    </section>

    <section class="light align-left partners">
        <a name="partners"></a>
        <div class="inner">
            <h2>Our partners</h2>

            <p>We believe conferences is a about people and connections. We don't believe in tradtional sponsorships; Instead we believe in partnerships that creates synergies between us and like-minded companies. We are proud to have these partners onboard, who are helping making ColdFront happen.

            <div class="logos">

                <a href="https://developers.google.com/" target="_blank"><img src="/images/partners/logos/google.png" /></a>

                <a href="https://iconfinder.com" target="_blank"><img src="/images/partners/logos/iconfinder.svg" width="450" /></a>

                <a href="https://microsoft.com" target="_blank"><img src="/images/partners/logos/microsoft.png" width="450"  /></a>

                <a href="https://confwall.com" target="_blank"><img src="/images/partners/logos/confwall.svg" height="100" /></a>

                <a href="https://zendesk.com" target="_blank"><img src="/images/partners/logos/zendesk.png" width="400"  /></a>

                <a href="https://founders.as" target="_blank"><img src="/images/partners/logos/foundersas.svg" height="120" /></a>

                <a href="https://23video.com" target="_blank"><img src="/images/partners/logos/23.svg" height="80" /></a>

                <a href="https://citrix.com" target="_blank"><img src="/images/partners/logos/citrix.png" height="100" /></a>

                <a href="https://kraftvaerk.com" target="_blank"><img src="/images/partners/logos/kraftvaerk.svg" width="300" /></a>

                <a href="https://trustpilot.com" target="_blank"><img src="/images/partners/logos/trustpilot.svg" width="300" /></a>

                <a href="https://www.digitaslbi.com/dk/" target="_blank"><img src="/images/partners/logos/lbi.svg" width="300" /></a>

                <a href="https://falconsocial.com" target="_blank"><img src="/images/partners/logos/falcon_social.svg" /></a>
                
                <a href="https://swipp.dk" target="_blank"><img src="/images/partners/logos/swipp.png" /></a>

                <a href="https://shiftcph.dk" target="_blank"><img src="/images/partners/logos/shift.png" height="80" /></a>

                <a href="https://umbraco.com" target="_blank"><img src="/images/partners/logos/umbraco.png" /></a>
            </div>
        
            <p><a class="btn" href="/partners">Read more here</a></p>
        </div>
    </section>

    <section class="light align-left partners">
        <a name="partners"></a>
        <div class="inner">
            <h2>Copenhagen is more than ColdFront</h2> 
            <p>ColdFront has partnered up with like-minded event organisers in Copenhagen, and this year we are happy to help these great events in our lovely city Copenhagen.</p>

            <div class="logos">
                <a href="https://designmatters16.dk/" target="_blank"><img src="/images/partners/logos/design_matters.png" /></a>
                <a href="http://cphftw.org" target="_blank"><img src="/images/partners/logos/cphftw.png" /></a>
            </div>

        </div>
    </section>            
    <section class="white align-left organizers">
        <a name="organizers"></a>
        <div class="inner">
            <h2>Questions?</h2>

            <p>We started ColdFront in 2014 with a mission to put Copenhagen on the front-end map. In 2016 we are organizing the conference for the 3rd time, and hopefully this will be our best one yet!</p>

            <p>ColdFront is organized by <a href="http://twitter.com/auchenberg" target="_blank">Kenneth Auchenberg</a> & <a href="http://twitter.com/danielovich" target="_blank">Daniel Frost</a>.</p>

            <p>Have a question or want to be a part of ColdFront? Don't hersitate to ping us!</p>

            <br />

            <a href="mailto:hello@coldfrontconf.com" class="btn">Contact us</a>

            <div class="team"></div>
        </div>
    </section>

    <section class="social">
        <div class="inner">
            <a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true">Follow @coldfrontconf</a>
            <a href="https://twitter.com/share?url=http://coldfrontconf.com" class="twitter-share-button" data-text="ColdFront Conference, one-day front-end conference in Copenhagen. 1st September 2016." data-via="coldfrontconf" data-related="coldfrontconf">Tweet</a>
            <div class="fb-like" data-href="http://coldfrontconf.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
       
            <div class="terms">
                <p>ColdFront Conference is organized by ColdFront ApS, and by attending our events your are accepting our <a href="http://confcodeofconduct.com/">Code of Conduct</a>.</p>
            </div>
        </div>
        
    </section>

 </div>
