<div class="page">

	<section class="splash">
		<div class="wrapper vertical-center-align">
			<div class="inner">
		    	<img alt="ColdFront logo" class="logo" src="/images/logo.svg" />
			  	<h3>ColdFront is a single-day front-end conference in Copenhagen taking place on September 4th 2014.</h3>

			  	<div class="arrow">
			  		<a href="#speakers"><img src="/images/arrow.png"></a>
			  	</div>

			  	<div class="credits">
			  		<a href="https://www.flickr.com/photos/sigfridlundberg/6834462007">Photo by Sigfrid Lundberg</a>
			  	</div>

			  	<div class="community">

			  		<a href="http://www.conferize.com/conferences/coldfront-conference/track" target="_blank">Join our online community on </br> <img src="/images/conferize.png" /></a>

			  	</div>

	 		</div>
 		</div>
	</section>

	<section class="speakers">
		<a name="speakers"></a>
		<div class="inner">
			<h2>Speakers &amp; Schedule</h2>
			<h3>Sit back and get inspired.</h3>

			<ul>

			<% schedule.forEach(function(item) { %>

				<li class="<%- item.speaker === true ? 'state-speaker' : '' %>">

			        <span class="date vertical-center-align"><%- item.time %></span>

			        <div class="image">
			            <img src="<%= item.avatar %>">
			        </div>


			        <div class="intro vertical-center-align">
						<h3><%- item.name %></h3>
			        </div>

					<% if (item.speaker === true) { %>
			        <div class="session-info ">

						<% if (item.url) { %>
							<a class="web" href="<%= item.url %>" target="_blank"><i class="fa fa-link"></i></a>
						<% } else { %>
							<span class="spacer"></span>
						<% } %>



						<% if (item.twitter) { %>
							<a class="twitter" href="https://twitter.com/<%= item.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
						<% } else { %>
							<span class="spacer"></span>
						<% } %>

						<p><%- item.title %></p>

						<div class="session">
							<h4>talks about</h4>
							<h3><%- item.session_title %></h3>
						</div>

						<div class="profile">
							<p><%- item.intro %></p>
						</div>
			        </div>

			        <% } %>
				</li>
			<% }) %>

			</ul>

		</div>
	</section>

	<section class="tickets">
		<a name="tickets"></a>
		<div class="inner">
			<h2>Tickets</h2>
			<p>We are building upon the <a href="http://copenhagenjs.dk" target="_blank">CopenhagenJS</a> and <a href="http://thewcdc.net" target="_blank">TheWCDC.</a> communities to create a unique day, where we focus on what it takes to build for the web.</p>
			<p>A ticket for ColdFront will include lunch, tea/coffee/water and plenty of beer in the night. </p>
			<p>Due to some great sponsorships we are able to keep the ticket prices low, while keeping the awesomeness. </p>
			<p>This means an ticket for ColdFront will set you back just 1500 DKK + VAT!</p>

			<p>One day. One track. Two parties. - all included with your ticket! </p>
			<iframe allowtransparency="true" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="true" src="http://billetto.dk/en/events/44757/widget/" vspace="0" width="100%" height="287"></iframe>

			<p>Can't pay via Creditcard? Use the <a href="https://podio.com/webforms/8536519/635280" target="_blank">this form</a> and we will send you an invoice directly.</p>

		</div>
	</section>

	<section class="keyboard-warriors">
		<a name="keyboard-warriors"></a>
		<div class="inner">
			<h2>Keyboard Warriors</h2>
			<p>The day before the conference, September 3rd 2014, we're letting everyone introduce themselves at our keyboard warrior sessions also hosted at Tap House.</p>

			<p>Have you been hacking on something and want to talk about it? That's a great chance to get everyone inspired by and more importantly to network, and say hi to each other.</p>

			<p><a href="https://podio.com/webforms/8536670/635284" target="_blank">Sign-up for keyboard Warriors.</a></p>

			<p>September 3rd 2014 from 18:00-22:00 @ <a href="http://taphouse.dk">Tap House</a></p>

	</section>

	<section class="location">
		<a name="venue"></a>
		<div class="inner">
			<h2>Venue</h2>
			<p>Coldfront will be held in one of the oldest cinemas in Copenhagen, <a href="http://www.grandteatret.dk/om_grand/om_grand_teatret/" target="_blank">The Grand Theater</a>.</p>
			<p>The Grand Theater was build in 1913, and is located in a small sidestreet to the famous shopping street Strøget, in very center of old historic Copenhagen.
			<p><img src="/images/venue/grand_side.jpg" width="100%"/></p>
			<p></p>
			<p></p>

			<p></p>
			<p></p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d17997.335708525457!2d12.570239795615604!3d55.67739125819352!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525311f57117a3%3A0xaefb4407a4078bea!2sGrand+Teatret!5e0!3m2!1sen!2s!4v1399483448435" width="100%" height="300" frameborder="0" style="border:0"></iframe>

		</div>
	</section>

	<section class="organizers">
		<a name="partners"></a>
		<div class="inner">
			<h2>Organizers & Partners</h2>

			<h3>Making it all possible:</h3>

			<ul>
				<li>
					<img src="/images/organizers/kenneth.png" />
					<div class="media-body">
						<h3>Kenneth Auchenberg</h3>
						<p><a href="http://twitter.com/auchenberg" target="_blank">@auchenberg</a></p>
					</div>
				</li>

				<li>
					<img src="/images/organizers/daniel.jpg" />
					<div class="media-body">
						<h3>Daniel Frost</h3>
						<p><a href="http://twitter.com/danielovich" target="_blank">@danielovich‎</a></p>
					</div>
				</li>
			</ul>

			<h3>Helping us to making the conference more awesome:</h3>

			<ul class="sponsors">

				<li class="vertical-center-align citrix">
					<a href="http://citrix.com" target="_blank">
						<img src="/images/sponsors/citrix.png" />
					</a>
				</li>

				<li class="vertical-center-align moc">
					<a href="https://moc.net/" target="_blank">
						<img src="/images/sponsors/moc.png" width="200" />
					</a>
				</li>
				<li class="vertical-center-align falcon">
					<a href="https://falconsocial.com" target="_blank">
						<img src="/images/sponsors/falcon_social.svg" />
					</a>
				</li>
				<li class="vertical-center-align shift">
					<a href="http://shiftcph.dk" target="_blank">
						<img src="/images/sponsors/shift.png" />
					</a>
				</li>

				<li class="vertical-center-align umbraco">
					<a href="http://umbraco.com" target="_blank">
						<img src="/images/sponsors/umbraco.png" />
					</a>
				</li>

				<li class="vertical-center-align iconfinder">
					<a href="http://iconfinder.com" target="_blank">
						<img src="/images/sponsors/iconfinder.svg" />
					</a>
				</li>

				<li class="vertical-center-align iconfinder">
					<a href="http://zendesk.com" target="_blank">
						<img src="/images/sponsors/zendesk.png" />
					</a>
				</li>

				<li class="vertical-center-align kraftvaerk">
					<a href="http://kraftvaerk.com" target="_blank">
						<img src="/images/sponsors/kraftvaerk.svg" width="300" />
					</a>
				</li>

				<li class="vertical-center-align trustpilot">
					<a href="http://trustpilot.com" target="_blank">
						<img src="/images/sponsors/trustpilot.svg" width="300" />
					</a>
				</li>


			</ul>

			<p>Interested in becoming a partner? We created a <a href="http://coldfrontconf.com/become-a-partner">dedicated site</a> for that.</p>

		</div>
	</section>

	<footer class="social">
	    <div class="inner">
	    	<h3>Contact and follow ColdFront</h3>

			<p><a href="mailto:hello@coldfrontconf.com">hello@coldfrontconf.com</a></p>
			<p>or</p>

    	    <a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true">Follow @coldfrontconf</a>

			<iframe class="conferize" src="http://cl.ly/code/0o3k0T1G2O1k/coldconf-followbutton.html" scrolling="no" frameborder="0" height="26" width="204">never miss a conference</iframe>

			<br />
			<br />

    	    <a href="https://twitter.com/share?url=http://coldfrontconf.com" class="twitter-share-button" data-text="ColdFront Conference, one-day front-end conference in Copenhagen. 4th September 2014." data-via="coldfrontconf" data-related="coldfrontconf">Tweet</a>

			<div class="fb-like" data-href="http://coldfrontconf.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	    </div>
	</footer>

 </div>