<div class="page">

	<section class="splash">
		<div class="wrapper vertical-center-align">	      
			<div class="inner">	      
		    	<img alt="ColdFront logo" class="logo" src="/assets/images/logo.svg" />
			  	<h3>ColdFront is a new single-day and single-track front-end conference in Copenhagen.</h3>	 
			  	<h2>4. Sep 2014</h2>

			  	<div class="arrow">
			  		<img src="/assets/images/arrow.png">
			  	</div>

			  	<div class="credits">
			  		<a href="https://www.flickr.com/photos/sigfridlundberg/6834462007">Photo by Sigfrid Lundberg</a>
			  	</div>
	 		</div>
 		</div>
	</section>

	<section class="speakers">
		<div class="inner">
			<a name="speakers"></a>
			<h2>Speakers</h2>
			<h3>Sit back and get inspired.</h3>

			<ul>

			<% speakers.forEach(function(speaker) { %>

				<li>	
					<div class="img">
						<% if (speaker.url.length) { %>
							<a class="web" href="<%= speaker.url %>" target="_blank"><i class="fa fa-link"></i></a>
						<% } else { %>
							<span class="spacer"></span>
						<% } %>

						<img src="<%= speaker.avatar %>">

						<% if (speaker.twitter.length) { %>
							<a class="twitter" href="https://twitter.com/<%= speaker.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
						<% } else { %>
							<span class="spacer"></span>
						<% } %>
					</div>

					<div class="meta">
						<h3><%- speaker.name %></h3>
						<p><%- speaker.title %></p>
					</div>

					<div class="intro">
						<p><%- speaker.intro %></p>
					</div>
				</li>
			<% }) %>


			</ul>

		</div>
	</section>

	<section class="tickets">
		<div class="inner">
			<a name="ticket"></a>
			<h2>Tickets</h2>
			<p>We are building upon the <a href="http://copenhagenjs.dk" target="_blank">CopenhagenJS</a> and <a href="http://thewcdc.net" target="_blank">TheWCDC.</a> communities to create a unique day, where we focus on what it takes to build for the web.</p>
			<p>A ticket for ColdFront will include lunch, tea/coffee/water and plenty of beer in the night. An early-bird ticket will set you back 1500 DKK + VAT. Regular bird will be 2000 DKK + VAT, and for the late birds the price will be 2500,- DKK + VAT.</p>
			<p>To get you in the ColdFront-mood we are also organizing jam-sessions in a bar on the night before the conference. </p>
			<p>This means two nights full of talks and fun - all included with your ticket! </p>
			<iframe allowtransparency="true" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="true" src="http://billetto.dk/en/events/44757/widget/" vspace="0" width="100%" height="287"></iframe>
		</div>
	</section>

	<section class="location">
		<div class="inner">
			<a name="venue"></a>
			<h2>Venue</h2>
			<p>Coldfront will be held in one of the oldest cinemas in Copenhagen, <a href="http://www.grandteatret.dk/om_grand/om_grand_teatret/" target="_blank">The Grand Theater</a>.</p>
			<p>The Grand Theater was build in 1913, and is located in a small sidestreet to the famous shopping street Strøget, in very center of old historic Copenhagen.  
			<p><img src="assets/images/venue/grand_side.jpg" width="100%"/></p>		
			<p></p>
			<p></p>
			
			<p></p>
			<p></p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d17997.335708525457!2d12.570239795615604!3d55.67739125819352!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525311f57117a3%3A0xaefb4407a4078bea!2sGrand+Teatret!5e0!3m2!1sen!2s!4v1399483448435" width="100%" height="300" frameborder="0" style="border:0"></iframe>

		</div>
	</section>

	<section class="copenhagen">
		<div class="inner">
			<a name="copenhagen"></a>
			<h2>Why Copenhagen?</h2>
			<p>Scandinavia, and Denmark <a href="http://en.wikipedia.org/wiki/Danish_design">in particular</a> has a great tradition of design, architecture.</p>
			<p>In the recent years Copenhagen, as a city, has been booming and last year Monocle recognized this by naming Copenhagen the most liveable city of the world in 2013.</p>

			<div class='embed-container'><iframe src='http://player.vimeo.com/video/68365144' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

			<p>
				<i>"World-conquering urban quality of life requires the trickiest of balancing acts between progress and preservation, stimulation and security, global and local. Perfection is unobtainable but Copenhagen is striking one of the best deals right now. </i>
			</p>
			
			<p>Now is the time to visit Copenhagen!</p>
			
		</div>
	</section>
	
	<section class="organizers">
		<div class="inner">
			<a name="organizers"></a>
			<h2>Organizers & Sponsors</h2>
			
			<h3>Making it all possible:</h3>

			<ul>
				<li>		
					<img src="/assets/images/organizers/kenneth.png" />
					<div class="media-body">
						<h3>Kenneth Auchenberg</h3>
						<p><a href="http://twitter.com/auchenberg" target="_blank">@auchenberg</a></p>
					</div>
				</li>

				<li>			
					<img src="/assets/images/organizers/daniel.jpg" />
					<div class="media-body">
						<h3>Daniel Frost</h3>
						<p><a href="http://twitter.com/danielovich" target="_blank">@danielovich‎</a></p>
					</div>
				</li>	
			</ul>

			<h3>Helping us to making the conference more awesome:</h3>

			<ul class="sponsors">
				<li class="vertical-center-align">		
					<a href="https://moc.net/" target="_blank">
						<img src="/assets/images/sponsors/moc.png" width="200" />
					</a>
				</li>
				<li class="vertical-center-align falcon">		
					<a href="https://falconsocial.com" target="_blank">
						<img src="/assets/images/sponsors/falcon_social.svg" />
					</a>
				</li>
				<li class="vertical-center-align shift">		
					<a href="http://shiftcph.dk" target="_blank">
						<img src="/assets/images/sponsors/shift.png" />
					</a>
				</li>	
			</ul>

		</div>
	</section>

	<footer class="social">
	    <div class="inner">
	    	<h3>Contact and follow ColdFront</h3>

			<p><a href="mailto:hello@coldfrontconf.com">hello@coldfrontconf.com</a></p>
			<p>or</p>

    	    <a href="https://twitter.com/coldfrontconf" class="twitter-follow-button" data-show-count="true">Follow @coldfrontconf</a>
    	    <a href="https://twitter.com/share?url=http://coldfrontconf.com" class="twitter-share-button" data-text="ColdFront Conference, one-day front-end conference in Copenhagen. 4th September 2014." data-via="coldfrontconf" data-related="coldfrontconf">Tweet</a>

			<div class="fb-like" data-href="http://coldfrontconf.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	    </div>
	</footer>

 </div>